@font-face {
  font-family: 'Open Sans';
  src: url('../ukljuci/OpenSans-Regular.ttf') format('truetype');
}

/*********** DEFAULTS *********/

html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: #454545;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 24px;
  background-image: linear-gradient(to bottom, #FFFFFF , #e5e5e5);
}

img,
iframe {
  max-width: 100%;
}

a {
  color: inherit;
}

a[href^="tel:"],
header a,
h1 a,
h2 a {
  text-decoration: none;
}

a[href^="tel:+38111"]::before {
  content: "\260e";
  color: #2141a3;
  margin-right: 4px;
}

a[href^="tel:+3816"]::before {
  content: "\1F4F1";
}

a[href$=".pdf"]::before, a[href$=".doc"]::before, a[href$=".docx"]::before,
a[href$=".ppt"]::before,  a[href$=".pptx"]::before {
  margin-right: 8px;
  width: 10px;
}

a[href$=".pdf"]::before {
  content: url(../slike/ikonice/pdf.png);
}

a[href$=".ppt"]::before, a[href$=".pptx"]::before {
  content: url(../slike/ikonice/ppt.png);
}

a[href$=".doc"]::before, a[href$=".docx"]::before {
  content: url(../slike/ikonice/doc.png);
}

a:hover, .trenutna_strana, 
h1, h2, h3 {
  color: #0066ff;
}


/*********** HELPERS *********/

.full {
  width: 100%;
}

.granicnik {
  margin-left: auto;
  margin-right: auto;
  padding: 0 10%;
}

.glavnina {
  background: #FFFFFF;
  margin: 0 4% 4% 4%;
  border-radius: 5px 5px 2px 2px;
  box-shadow: 2px 2px 24px -3px rgba(0, 0, 0, 0.75);
}

.trenutna_strana {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
  font-size: 90%;
  font-family: Trebuchet MS, sans-serif;
}

.bitno {
  color: #626262;
  background: rgba(251, 251, 251, 1);
  font-family: Trebuchet MS, sans-serif;
  font-size: 120%;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid #D0CDC7;
  border-radius: 2px;
  font-style: italic;
  display: inline-block;
}

.postava {
  padding: 8px;
}

.slika-desno {
  float: right;
  max-width: 250px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.ne-selektuj {
  user-select: none;
}

.zaokrugljeno {
  border-radius: 24px;
}

.show-lg {
  display: none;
}

/******************** STRANICE *******************/

.usluge > div {
  text-align: center;
}

.usluge img {
  width: 100px;
  filter: grayscale(.9);
  transition: filter .6s ease;
}

.usluge img:hover {
  filter: grayscale(.1);
}

.radovi a {
  display: block;
  margin: 1em 0;
}

.galerija img {
  padding: 20px;
  border: 1px solid #000000;
  margin: 1%;
  width: 250px;
}

#mapa-okvir {
  height: 600px;
  width: 100%;
}

#mapa {
  height: 600px;
  width: 100%;
}

/******************** HEADER *******************/

header {
  margin: 0 8% 0 8%;
}

.logo {
  letter-spacing: -1px;
  margin-bottom: 0;
  font-size: 40px;
}

.ultra {
  color: #2141a3;
}

.medika {
  color: #AAABAC;
}

.postava-gore {
  color: #AAABAC;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 85px;
  margin-bottom: 20px;
}

.meni {
  padding-bottom: 24px;
}

.meni-pojedinacno {
  color: #2141a3;
  margin-right: 8px;
  display: block;
  border-bottom: 1px solid #e5e5e5;
}

/*************** GLAVNINA **************/

.glavno-prvo {
  padding-top: 40px;
  margin-bottom: 60px;
}

.gornji-sadrzaj {
  padding-top: 30px;
  padding-bottom: 30px;
}

.clear {
  clear: both;
}

/*************** SREDISNJI DEO **********************/

.sredisnji-deo {
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 5px 5px 0 0;
  box-shadow: 2px 2px 24px -3px rgba(0, 0, 0, 0.75);
}

/*************** FOOTER **********************/

footer {
  background: #F6F6F6;
  border-radius: 5px 5px 0 0;
  box-shadow: 2px 2px 24px -3px rgba(0, 0, 0, 0.75);
}

.podnozje {
  padding-top: 5%;
  padding-bottom: 10%;
}

footer p {
  margin: 0;
}

.razmak-gore {
  margin-top: 20px;
}

/***************** RESPONSIVE **********************/

@media (min-width: 800px) {
  .glavnina {
    margin: 0 10% 8% 10%;
  }
  header {
    padding: 0 10% 0 10%;
  }

	.levo {
	  width: 45%;
	  float: left;
	}

	.desno {
	  width: 45%;
	  float: right;
  }
  
  .tel-header {
    float: right;
  }

  .meni {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .meni-pojedinacno {
    border-bottom: none;
  }

  .trenutna_strana,
  .meni-pojedinacno:hover {
    border-bottom: 1px solid;
    margin-bottom: -1px;
  }

  .show-lg {
    display: inline;
  }

  .usluge > div {
    width: 300px;
  }
}
